{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "semi": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
