@import "tailwindcss";

/* Theme */
@theme {
  --color-bg: #1b1b1b;
  --color-surface: #323232;
  --color-light: #658761;
  --color-accent: #dfa05d;

  --color-accent-700: #ac5045;
  --color-light-700: #4e6a54;
}
