@import "tailwindcss";

body {
  background-color: var(--color-bg);
  color: var(--color-light);
  user-select: none;
  -webkit-user-select: none;
  font-family: "Space Grotesk Variable", sans-serif;
}

/* Color theme */
@theme {
  --color-bg: #151617;
  --color-surface: #262a30;

  --color-light: #e3e7e9;
  --color-light-700: #a1abb1;

  --color-accent: #4c9f70;
  --color-accent-700: #2f6b4a;
}
