@import "tailwindcss";

body {
  background-color: var(--color-bg);
  color: var(--color-light);
  user-select: none;
  -webkit-user-select: none;
}

/* Theme */
@theme {
  --color-bg: #1b1b1b;
  --color-surface: #323232;
  --color-light: #658761;
  --color-accent: #dfa05d;

  --color-accent-700: #ac5045;
  --color-light-700: #4e6a54;
}
